.bord-td {
  border: 5px solid black;
  border-radius: 5px;
  margin:2px;
  width:100px;
  height:100px;
  padding-top:5px;
  font-size:200% !important;
  text-align: center;
}

.container {
  width:400px;
  margin:0 auto;
  font-size:200% !important;
}

.btn-gameOver
{
  margin-left: 125px;
  margin-top: 15px;
}